<section class="check">
    <div class="check__container">
        <h2 class="check__title title">Что мы проверяем?</h2>
        <div class="check__wrapper">
            <div class="check__item">
                <h3 class="check__item-title">Юридическая проверка
                    по базам</h3>
                <p class="check__item-descr">ограничение, угон
                    кредит, такси</p>
                <img src="../images/g63.webp"
                     alt="Юридическая проверка"
                     class="check__item-img">
            </div>
            <div class="check__item">
                <h3 class="check__item-title">Двигатель, коробка,
                    рулевое управление</h3>
                <p class="check__item-descr">Проверка всех узлов
                    и агрегатов</p>
                <img src="../images/range-rover.webp"
                     alt="Юридическая проверка"
                     class="check__item-img">
            </div>
            <div class="check__item">
                <h3 class="check__item-title">Эстетика и уход</h3>
                <p class="check__item-descr">Проверка салона</p>
                <img src="../images/peugeot.webp"
                     alt="Юридическая проверка"
                     class="check__item-img">
            </div>
            <div class="check__item">
                <h3 class="check__item-title">Проверка ходовой</h3>
                <p class="check__item-descr">Полная диагностика
                    ходовой части</p>
                <img src="../images/chassi.webp"
                     alt="Юридическая проверка"
                     class="check__item-img">
            </div>
            <div class="check__item">
                <h3 class="check__item-title">Двигатель</h3>
                <p class="check__item-descr">Проверка на ошибки,
                    запотевание, потёки,
                    корректность работы</p>
                <img src="../images/engine.webp"
                     alt="Юридическая проверка"
                     class="check__item-img engine">
            </div>
            <div class="check__item">
                <h3 class="check__item-title">Пробег авто</h3>
                <p class="check__item-descr">Проверка на оригинальность
                    пробега</p>
                <img src="../images/tesla.webp"
                     alt="Юридическая проверка"
                     class="check__item-img">
            </div>
        </div>
    </div>
</section>