<header class="header">
	<div class="header__container">
		<div class="header__wrapper">
			<div class="header__top">
				<div class="header__inner">
					<div class="header__logo">
						СН
					</div>
					<nav class="header__nav">
						<ul class="header__nav-list">
							<li class="header__nav-list-item">
								<a href="#"
								   class="header__nav-list-item-link">Что мы проверяем?</a>
							</li>
							<li class="header__nav-list-item">
								<a href="#"
								   class="header__nav-list-item-link">Почему мы?</a>
							</li>
							<li class="header__nav-list-item">
								<a href="#"
								   class="header__nav-list-item-link">Наш подбор</a>
							</li>
							<li class="header__nav-list-item">
								<a href="#"
								   class="header__nav-list-item-link">Контакты</a>
							</li>
						</ul>
					</nav>
				</div>
				<a href="tel:+799999999"
				   class="header__phone">+7 495 207-75-70</a>
			</div>
			<h1 class="header__title">Мы найдем вашу,
				идеальную машину!</h1>
			<div class="header__btns">
				<a href="#"
				   class="header__btn btn btn-primary">Оставить заявку</a>
				<a href="#"
				   class="header__btn btn btn-secondary">Консультация</a>
			</div>
		</div>
	</div>
</header>